<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>

<body>
	<nav th:replace="layouts::navbar"></nav>
	<div class="container">
	<br>
		<h4>Projects Directory</h4>
		<br>
		<!--  Add New Project Button -->
		<div>
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">
			New Project </a>
		<a th:href="@{/projects/timelines}" class="btn btn-primary btn-sm mb-3">
			Projects Timeline </a>	
			
		</div>
		<br>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aproject :${projectsList}">
					<td th:text="${aproject.name}" />
					<td th:text="${aproject.stage}" />
					<td>
					   <a th:href="@{projects/update(id=${aproject.projectId})}"
					       class="btn btn-info btn-sm">Update</a>
					       <a th:href="@{projects/delete(id=${aproject.projectId})}"
					       class="btn btn-danger btn-sm"
					       onClick="if(!(confirm('Are you sure you want to delete this project?'))) return false">Delete </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>